.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    z-index: 9998;
}

.modal .botaoAdicionar{
    min-width: 75%;

}

.modal .title {
        text-align: center;
        width: 100%;
}

.modal .formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal .formGroup .formControl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.modal .modalFooter {
    display: flex;
    justify-content: space-around;
}

.modal .modalFooter button:nth-child(1) {
    background-color: blue !important;
    border: none;
    color: #FFFFFF !important;
}
.modal .modalFooter button:nth-child(2) {
    background-color: green !important;
    border: none;
    color: #FFFFFF 
}
