.container {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    width: 100%;
    background-color: blanchedalmond;
}

.carousel{  
    display: flex;
    width: 100%;
    height: 300px;
}
.imagens {
    align-items: center;
    justify-content: center;
    object-fit: cover;
    width: 100%;
    height: 300px;
}

.textos h5, p{
    color: rgb(236, 236, 236);
    text-align: center;
}