@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Average&family=Matemasie&display=swap');

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 222px;
    height: 580px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid #ddd;
    background-color: whitesmoke;
}

.card:hover{
    transition: transform 0.7s ease, box-shadow 0.7s ease, border-radius 0.7s ease;
    transform: scale(1.05);
}


.imagem {
    border-radius: 1.5rem;
    padding-top: 0.5rem;
    width: 180px;
    height: 220px;

}

.cardBody {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 220px;
    height: 308px;
}

.cardBody .title {
    height: 80px;
    width: 188px;
    text-align: center;
    font-size: 1.30rem;
    font-family: "Anton", sans-serif;
}

.cardBody .descricao {
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
    text-align: center;
    font-family: "Outfit", sans-serif;
    color: black;
    height: 100px;

}

.cardBody .price {
    height: 40px;
    width: 100%;
    font-size: 1.75rem;
    text-align: center;
    font-family: "Average&family", sans-serif;
    color: black;
}

.buttonContainer {
    display: flex;
    gap: 8px; 
    flex-direction: column;
}
