.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    display: flex;
}

.title {
    text-align: center;
    width: 100%;
}


.botaoEditar {
    background-color: rgb(0, 47, 255);
    border: none;
    width: 100%;
}


.formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formGroup .formControl {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
}

.modalFooter {
    display: flex;
    justify-content: space-around;
}

.modalFooter button:nth-child(1) {
    background-color: blue !important;
    border: none;
    color: #FFFFFF !important;
}
.modalFooter button:nth-child(2) {
    background-color: green !important;
    border: none;
    color: #FFFFFF 
}

