@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    top: 0;
    border-bottom: 1px solid rgba(114, 114, 114, 0.133);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: absolute;
    padding: 0px 20px;
    z-index: 9998;
    background-color: #ffffff;
}


.header .image{
    width: 120px;
}


.navlinks { 
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding-left: 0;
}

.navlinks .li{ 
    font-family: "Montserrant", sans-serif;
    font-weight: 800;
    font-size: 2.5rem;
    padding-inline: 60px; 
    list-style: none;
    text-decoration: none;
}

.navlinks .li:first-child{ 
    margin-left: 0;
}


.navlinks a {
    display: block;
    transition: all 0.3s ease 0s;
    text-decoration: none; 
    text-align: center;
    color: #FFA07A;
}

.navlinks .li a:hover{
    color: #35cc30;
}


.Icones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}


.botaoIcones .icones{ 
    color: #000000;
    font-size: 2rem;
}

.botaoIcones:hover{
    color: rgb(28, 218, 11);
}   

.botaoIcones:nth-child(1) :hover{
    fill: blue;
}   
.botaoIcones:nth-child(2) :hover{
    fill: red;
}   
.botaoIcones:nth-child(3) :hover{
    fill: green;
}   


@media (max-width: 1205px) {
    .header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto; 
        padding-top: 16px;
    }

    .image {
        margin-bottom: 1rem;
    }
    .navlinks .li { 
        font-weight: 800;
    }

}
@media (max-width: 932px) {
    .header {
            display: flex;
            flex-direction: column;
        }
    .navlinks {
        display: flex;
        flex-wrap: wrap; 
        justify-content: space-around; 
        align-items: center;
    }
    
    .navlinks .li {
        font-weight: 800;
        flex: 0 1 45%;
        margin: 5px; 
    }
}


@media (max-width: 778px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .navlinks { 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0;
        padding-left: 0;
    }

    .navlinks .li { 
        font-family: "Montserrat", sans-serif;
        font-weight: 800;
        font-size: 2.5rem;
        padding-inline: 60px; 
        text-decoration: none;
        flex: 1 1 50%; 
        text-align: center;
    }

    .navlinks .li:first-child { 
        margin-left: 0;
    }

    .navlinks a {
        transition: all 0.3s ease 0s;
        text-decoration: none;
        color: #FFA07A;
    }
}