.header {
    display: flex;
    width: 100%;
    height: 100px;
    border-bottom: 1px solid rgba(114, 114, 114, 0.133);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    top: 0;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    padding-right: 50px;
}
.header .line {
    border-left: 2px solid rgba(114, 114, 114, 0.133);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    height: 100%; 
    margin-left: 1px;
}

.header .logo {
    width: 80px;
    padding: 1rem;
    height: 28px;
    align-items: center;
}

.header .titulos {
    flex-grow: 2; 
    padding: 1rem;
    color: green;
    font-size: 24px;
}

.header .blocos {
    width: 80px;
    height: 28px;
    padding: 1.5rem;
    align-items: center;
}

.header .botaoIcones {
    flex-grow: 1; 
    padding: 2rem;
    width: 50px;
    height: 50px;
    border: none;
    margin: none;
    background-color: white;
}

.header .icones {
   align-items: center;
    padding: 2rem;
    width: 50px;
    height: 50px;
    border: none;
    margin: none;
    background-color: white;
}